.button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.button:hover {
    background-color: #45a049;
}

.primary {
    background-color: #008cba;
}

.primary:hover {
    background-color: #007bb5;
}